 .title {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 #innerbox {
     text-align: center;
 }
 
 .load {
     display: flex;
     align-items: center;
     flex-direction: column;
     position: absolute;
     color: whitesmoke;
     margin-top: 50px;
     padding-left: 25px;
 }
 
 .introPage {
     background-image: url(./Images/crystal-ball.jpeg);
     width: 800px;
     height: 500px;
     background-repeat: no-repeat;
     background-size: cover;
     align-items: center;
     transition: 1s;
     transform-style: preserve-3d;
 }
 
 .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-top: 50px;
 }
 
 .grid {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     border: 1px solid black;
     width: 700px;
     height: 800px;
     perspective: 1000px;
     background-image: url(./Images/Screen\ Shot\ 2021-03-20\ at\ 1.52.07\ PM.png);
     background-repeat: no-repeat;
     background-size: cover;
     /* position: absolute; */
 }
 
 .box {
     width: 150px;
     height: 250px;
     position: relative;
     transition: transform 0.8s;
     transform-style: preserve-3d;
 }
 
 .box.flip {
     transform: rotateY(180deg);
 }
 
 .back,
 .front {
     width: 100%;
     height: 100%;
     /* object-position: center; */
     object-fit: cover;
     border-radius: 8px;
     position: absolute;
     /* backface-visibility: hidden; */
 }
 
 body {
     height: 90vh;
     background-color: white;
 }
 
 .back {
     transform: rotateY(180deg);
 }